---
// component template + component script =  Astro component

// This part is called the component script section or Astro component frontmatter, and the --- is called fence.

//we may declare variables, import packages(local and third party) and fully take advantage of JavaScript or TypeScript.
//We may then use variables & ...  in component template section by { } .

import Main from "../layouts/Main.astro";
---

<!--This part is called the component template section. -->
<Main title="Welcome to Astro.">
  <p class="font-bold text-xl">astro.config.mjs ?</p>
  <span
    >Most frameworks define a way for us to specify our project-specific
    configurations. For example, Astro achieves this via the astro.config file.</span
  >
  <div class="w-full h-2 bg-black mt-2"></div>


  <p class="font-bold text-xl">what is an Astro component?</p>
  <span>That’s easy: a file with the .astro ending.</span>
  <div class="w-full h-2 bg-black mt-2"></div>



  <p class="font-bold text-xl">what files can make a valid astro page?</p>
  <span>*.astro & *.md & ...</span>
  <div class="w-full h-2 bg-black mt-2"></div>



  <p class="font-bold text-xl">tip:</p>
  <span
    >All HTML attributes in JSX use camelCase formats. In Astro, stick to the
    standard kebab-case format.</span
  >
  <div class="w-full h-2 bg-black mt-2"></div>



  <p class="font-bold text-xl">tip:</p>
  <span
    >An Astro component template can render multiple elements with no need to
    wrap everything in a single div tag or `< >` tag ,unlike JavaScript or JSX .</span>

  <div class="w-full h-2 bg-black mt-2"></div>


  <p class="font-bold text-xl">tip:</p>
  <img src="/public/images/tip.png" class="size-20" />
  <div class="w-full h-2 bg-black mt-2"></div>


  <p class="font-bold text-xl">tip:</p>
  <span
    >whitespaces are not escaped.In most cases, this isn’t very important except
    when you don’t want that space there! e.g., with coloured text
    backgrounds.
  </span>
  <div class="w-full h-2 bg-black mt-2"></div>


  <p class="font-bold text-xl">How do we reference data from the frontmatter in script? </p>
  <img src="/public/images/tip2.png" class="size-20" />
  <div class="w-full h-2 bg-black mt-2"></div>


</Main>
